<div class="basketSection">
  <h1>Your items</h1>
  <div class="basketContent">
    <div class="itemContainer">
      <mat-card class="item" *ngFor="let item of shared.basket; let i = index">
        <div class="itemContent">
          <img class="basketImage" src={{item.image}} alt="basket item">
          <div class="description">
            <p>{{item.title}}</p>
            <p>{{(item.price * item.amount).toFixed(2)}} €</p>
          </div>
        </div>
        <div class="editIcons">
          <img (click)="increaseAmount(i)" class="editIcon" src="assets/img/add.png" alt="add icon">
          <div class="amountOfItems">
            <p>{{item.amount}}</p>
          </div>
          <img (click)="reduceAmount(i)" class="editIcon" src="assets/img/remove.png" alt="add icon">
        </div>
      </mat-card>
    </div>

    <mat-card class="basketInfo">
      <div class="priceContainer">
        <div class="prices">
          <p>Zwischensumme</p>
          <p>{{subtotal.toFixed(2)}} €</p>
        </div>
        <div class="prices">
          <p>Versandkosten</p>
          <p>{{shipping.toFixed(2)}} €</p>
        </div>
      </div>
      <div class="sum">
        <div class="prices">
          <p style="font-weight: 700;">Gesamtsumme</p>
          <p>{{sum.toFixed(2)}} €</p>
        </div>
        <span>inkl. 19% MwSt.</span>
      </div>

      <button class="orderBtn" mat-raised-button>Zur Kasse</button>
    </mat-card>
  </div>
</div>